@model TrainingSystem.Models.Trainee

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h2>Trainee Details</h2>
                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="active">@Html.ActionLink("Trainee Details", "Details", "Trainee")</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trainee_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainee_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainee_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainee_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainee_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainee_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainee_birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainee_birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainee_education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainee_education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainee_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainee_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainee_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainee_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainee_experience_details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainee_experience_details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainee_department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainee_department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainee_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainee_address)
        </dd>

    </dl>
</div>


<br />

<table class="table table-bordered">
    <tr class="bg-info">
        <th>
            Course Name
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
    </tr>

    @foreach (var item in ViewBag.Enroll)
    {
        <tr>
            <td>
                @item.Courses.course_name
            </td>

            <td>
                @item.Courses.startDate.ToString("MM/dd/yyyy")
            </td>

            <td>
                @item.Courses.endDate.ToString("MM/dd/yyyy")
            </td>

        </tr>
    }

</table>

