
@{
    ViewBag.Title = "ChangePassword";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h2>Update Profile</h2>
                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="active">@Html.ActionLink("Update Profile", "UpdateProfile", "TrainingStaff")</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.ActionLink("Back", "StaffDashBoard", null, new { @class = "btn btn-success" })

        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    @*<h3 style="padding-top: 10px">Change Password</h3> <hr />*@
                    @*<div class="form-group">
                            @Html.Label("Input Old Password", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Password("old_password", null, new { @class = "form-control" }) <br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Input New Password", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Password("new_password", null, new { @class = "form-control" }) <br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Input Confirm New Password", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Password("confirm_password", null, new { @class = "form-control" }) <br /> <br />
                            </div>
                        </div>*@

                    @Html.Label("Input Old Password", new { @class = "control-label col-md-2" })
                    @Html.Password("old_password", null, new { @class = "form-control" }) <br />
                    @Html.Label("Input New Password", new { @class = "control-label col-md-2" })
                    @Html.Password("new_password", null, new { @class = "form-control" }) <br />
                    @Html.Label("Input Confirm New Password", new { @class = "control-label col-md-2" })
                    @Html.Password("confirm_password", null, new { @class = "form-control" }) <br /> <br />
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change Password" class="btn btn-primary" /> <br /><br />
                        
                    </div>

                    <h5 class="text-danger">@ViewData["Message"]</h5>
                </div>
            }
        </div>
    </div>
</div>

